page-provincias {

  .btn_menu{
    height: 14rem;
  }

  .c_img {
    width: 73%;
    height: 74px;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 0 0.55px;
    background-color: #005448;
  }

  .header-md .toolbar-md:last-child .toolbar-background-md {
    border-width: 0 0 0.55px;
    background-color: #005448;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fefefe;
  }

  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fefefe;
  }

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #d6e015 !important;
  }

  .back-button-text-ios {
    letter-spacing: 0.2em;
    color: #d6e015;
    padding-left: 17%;
  }

  .c_imgg {
    width: 80%;
    height: 63px;
  }

  .btn_letras{
    text-align: center;
    color: #181717;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Kalam';
}

}
.fondoecu{

  background-image: url("../../assets/img/pri/bander.gif");
  background-position: center;
}
