page-informacion {

    
    
    .wrapper {
        //margin-top: 10rem;
        display: grid;
       // grid-template-columns: repeat(8, 1fr);
        grid-gap: 12px;
        grid-auto-rows: 215px;
        align-items: start;
        
      }

    .icon{
        display: block;
        text-align: right;
        font-size: 30px;
      }

    .clsTitulo{
        color: rgb(22, 21, 21);
        font-size: 22px;
        padding-top: 5%;
        font-style:italic;
        font-weight:bold;
        font-family:'Helvetica','Verdana','Monaco',sans-serif;
    }

    .btn_menu{
        //height: 29.6rem;
        height: 20.6rem;
    }

    .btn_letras{
        text-align: center;
        color: #181717;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Kalam';
    }



    /*    padding-bottom: 0px;
    padding-top: 17px;*/

    .c_img {
        width: 73%;
        height: 90px;
    }

    .c_img_h {
        width: 69%;
        height: 90px;
    }

    .c_img_s {
        width: 73%;
        height: 90px;

    }

    .c_img_e {
        width: 22%;
        height: 90px;   
    }


    /*.t_font{
        text-transform: uppercase; 
        font-family: 'Architects Daughter';
        font-size: 27px;
    }*/

/*
    .t_font{
        text-transform: uppercase; 
        font-family: 'Architects Daughter';
        font-size: 27px;
    }
*/
    
 /*       
    .t_font{
        text-transform: uppercase; 
        font-family: 'Gochi Hand';
        font-size: 27px;
    }
*/
/*
    .t_font{
        text-transform: uppercase; 
        font-family: 'Kalam';
        font-size: 27px;
    }
*/
/*

    .t_font{
        text-transform: uppercase; 
        font-family: 'Luckiest Guy';
        font-size: 27px;
    }
  */ 

  .t_font{
    text-transform: uppercase; 
    font-family: 'Permanent Marker';
    font-size: 27px;
}




   

}
