<!--
  Generated template for the ProfesionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="firstT">
  <ion-navbar class="header-menu">
    <ion-title >PROFESIONES</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondopro">
  <ion-grid>
    <ion-row>
      <ion-col col >
        <div  class="space_I" *ngFor="let profesion of profesiones" (click)="pruebaAudio(profesion)">
          <ion-grid>
              
                <ion-row> 
                  <ion-col style="text-align: center;">
                    <div style="text-align: center;"><img class="c_img" [src]="profesion.imagen"></div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 <!-- <ion-grid class="class_grid">
        <ion-row align-items-center >
          <ion-col class="col-6" *ngFor="let pro of prof" (click)="reproducir(pro)">
              <img [src]="pro.imagen" width="48" height="120">
              <div class="bg_name"><p>{{pro.titulo}}</p></div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
  <!--div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col">
        <ion-grid>
          <ion-row>
              <ion-card class="fon" *ngFor="let pro of prof" (click)="reproducir(pro)">
                <h2>{{pro.titulo}}</h2>
                <img [src]="pro.imagen" width="100" height="250">
                <!--<div class="card-title"><ion-icon name="play" *ngIf="!pro.reproduciendo"item-right=""></ion-icon></div>-->
                <!--<div class="card-subtitle"><ion-icon name="pause" *ngIf="pro.reproduciendo"item-right=""></ion-icon></div>-->
              <!--/ion-card>
          </ion-row>
        </ion-grid>

      </div>
      <div class="col-2">

      </div>
    </div>
  </div-->


</ion-content>
