<!--
  Generated template for the TerrestrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="firstT">
  <ion-navbar class="header-menu">
    <ion-title >TRANSPORTE TERRESTRE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="fondote">
  <ion-grid>
    <ion-row>
      <ion-col col >
        <div  class="space_I" *ngFor="let terrestre of terrestres" (click)="pruebaAudio(terrestre)">
          <ion-grid>
                <ion-row> 
                  <ion-col>
                      <ion-fab right bottom>
                          <button ion-fab class="play"><ion-icon name="play"></ion-icon></button>
                        </ion-fab>  
                    <div style="text-align: center;"><h1>{{terrestre.nombre}}</h1><img class="c_img" [src]="terrestre.imagen"></div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!--<ion-grid class="class_grid">
        <ion-row align-items-center >
          <ion-col class="col-6" *ngFor="let terres of terre" (click)="reproducir(terres)">
              <img [src]="terres.imagen" width="48" height="120">
              <div class="bg_name"><p>{{terres.titulo}}</p></div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
  <!--div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col">
        <ion-grid>
          <ion-row>
              <ion-card class="fon" *ngFor="let terres of terre" (click)="reproducir(terres)">
                <h2>{{terres.titulo}}</h2>
                <img [src]="terres.imagen" width="100" height="250">
                <!--<div class="card-title"><ion-icon name="play" *ngIf="!terres.reproduciendo"item-right=""></ion-icon></div>-->
                <!--<div class="card-subtitle"><ion-icon name="pause" *ngIf="terres.reproduciendo"item-right=""></ion-icon></div>-->
              <!--/ion-card>
          </ion-row>
        </ion-grid>

      </div>
      <div class="col-2">

      </div>
    </div>
  </div-->
</ion-content>
