<!--
  Generated template for the InsularPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="firstT">
  <ion-navbar class="header-menu">
    <ion-title >GALÁPAGOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondopec">
   <ion-grid>
    <ion-row>
      <ion-col col >
        <div  class="space_I" *ngFor="let galapago of galapagos" (click)="pruebaAudio(galapago)">
          <ion-grid>
             
                <ion-row> 
                  <ion-col style="text-align: center;">
                    <ion-icon class="play" name="play"></ion-icon>
                    <div style="text-align: center;"><h1>{{galapago.nombre}}</h1><img class="c_img" [src]="galapago.imagen"></div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 <!-- <ion-grid class="class_grid">
      <ion-row align-items-center >
        <ion-col class="col-6" *ngFor="let gala of gal" (click)="reproducir(gala)">
            <img [src]="gala.imagen" width="48" height="120">
            <div class="bg_name"><p>{{gala.titulo}}</p></div>
        </ion-col>
      </ion-row>
      
    </ion-grid>

  <!--div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col">
        <ion-grid>
          <ion-row>
              <ion-card *ngFor="let gala of gal" (click)="reproducir(gala)">
                <!--<h2>{{anfibios.titulo}}</h2>-->
                <!--img [src]="gala.imagen" width="100" height="250">
                <!--<div class="card-title"><ion-icon name="play" *ngIf="!gala.reproduciendo"item-right=""></ion-icon></div>-->
                <!--<div class="card-subtitle"><ion-icon name="pause" *ngIf="gala.reproduciendo"item-right=""></ion-icon></div>-->
              <!--/ion-card>
          </ion-row>
        </ion-grid>

      </div>
      <div class="col-2">

      </div>
    </div>
  </div-->

</ion-content>
