<!--
  Generated template for the CostaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="firstT">
  <ion-navbar class="header-menu">
    <ion-title >COSTA</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondob">
  <ion-grid>
    <ion-row>
      <ion-col col >
        <div  class="space_I" *ngFor="let costa of costas" (click)="pruebaAudio(costa)">
          <ion-grid>
            
                <ion-row> 
                  <ion-col style="text-align: center;">
                    <ion-icon class="play" name="play"></ion-icon>
                    <div style="text-align: center;"><img class="c_img" [src]="costa.imagen"></div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-grid class="class_grid">
        <ion-row align-items-center >
          <ion-col class="col-6" *ngFor="let cost of cos" (click)="reproducir(cost)">
              <img [src]="cost.imagen" width="48" height="120">
              <div class="bg_name"><p>{{cost.titulo}}</p></div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
  <!--div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col">

        <ion-grid>
          <ion-row>
              <ion-card *ngFor="let cost of cos" (click)="reproducir(cost)">
                <!--<h2>{{anfibios.titulo}}</h2>-->
                <!--img [src]="cost.imagen" width="100" height="250">
                <!--<div class="card-title"><ion-icon name="play" *ngIf="!cost.reproduciendo"item-right=""></ion-icon></div>-->
                <!--<div class="card-subtitle"><ion-icon name="pause" *ngIf="cost.reproduciendo"item-right=""></ion-icon></div>-->
              <!--/ion-card>
          </ion-row>
        </ion-grid>
      </div>
      <div class="col-2">

      </div>
    </div>
  </div-->
</ion-content>
