<!--
  Generated template for the NumerosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="firstT">
    <ion-navbar class="header-menu">
      <ion-title style="color: white">NÚMEROS</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content class="fondon">


    <ion-grid>
        <ion-row>
          <ion-col col  >
            <div  *ngFor="let numero of numeros" (click)="pruebaAudio(numero)">
              <ion-grid>
                  <!--<ion-row>
                      <ion-col col-12>
                        <div></div>
                      </ion-col>
                    </ion-row>-->
                    <ion-row> 
                      
                      
                      <ion-col class="col col-50 " style="text-align: center;" >
                        <div class="icon"><img style="width: 90% !important;" [src]="numero.imagen"></div>
                      </ion-col>
                      
                  
                    </ion-row>
                </ion-grid>
            </div>
          </ion-col>
          <!--ion-col col-6>
            <div class="space_I" *ngFor="let abecedarioi of abecedar" [ngClass]="{'bg-select':abecedarioi.reproduciendo==true,'':abecedarioi.reproduciendo==undefined}" (click)="reproducir1(abecedarioi)">
              <ion-grid>
                <ion-row>
                    <ion-col col-12>
                      <div></div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <div><img [src]="abecedarioi.imagen" width="68" height="150"></div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </div>
          </ion-col-->
        </ion-row>
      </ion-grid>

</ion-content>
